<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django Training</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h3>Test Paper</h3>
        <div>
        <div>Que 1.{{Que1}}</div>
        <Br>
        <div><input type="radio" name="answer1" value="A"> {{A1}}</div>
        <div><input type="radio" name="answer1" value="B"> {{B1}}</div>
        <div><input type="radio" name="answer1" value="C"> {{C1}}</div>
        <div><input type="radio" name="answer1" value="D"> {{D1}}</div>
        </div>
        <Br>
        <div>
        <div>Que 2.{{Que2}}</div>
        <Br>
        <div><input type="radio" name="answer2" value="A"> {{A2}}</div>
        <div><input type="radio" name="answer2" value="B"> {{B2}}</div>
        <div><input type="radio" name="answer2" value="C"> {{C2}}</div>
        <div><input type="radio" name="answer2" value="D"> {{D2}}</div>
        </div>
        <Br>
        <div>Que 3.{{Que3}}</div>
        <Br>
        <div><input type="radio" name="answer3" value="A"> {{A3}}</div>
        <div><input type="radio" name="answer3" value="B"> {{B3}}</div>
        <div><input type="radio" name="answer3" value="C"> {{C3}}</div>
        <div><input type="radio" name="answer3" value="D"> {{D3}}</div>
        </div>
        <Br>
        <div>Que 4.{{Que4}}</div>
        <Br>
        <div><input type="radio" name="answer4" value="A"> {{A4}}</div>
        <div><input type="radio" name="answer4" value="B"> {{B4}}</div>
        <div><input type="radio" name="answer4" value="C"> {{C4}}</div>
        <div><input type="radio" name="answer4" value="D"> {{D4}}</div>
        </div>
        <Br>
        <div>Que 5.{{Que5}}</div>
        <Br>
        <div><input type="radio" name="answer5" value="A"> {{A5}}</div>
        <div><input type="radio" name="answer5" value="B"> {{B5}}</div>
        <div><input type="radio" name="answer5" value="C"> {{C5}}</div>
        <div><input type="radio" name="answer5" value="D"> {{D5}}</div>
        </div>
    </body>
</html>