<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Student</h1>
        <p>Name: {{ name }}</p>
        <p>Branch: {{ branch }}</p>
        <p>Physics: {{ p }}</p>
        <p>Chemistry: {{ c }}</p>
        <p>Maths: {{ m }}</p>
        <p>English: {{ en }}</p>
        <p>Hindi: {{ hi }}</p>
        <p>Total: {{ total }}</p>
        <p>Percent: {{ percent }}</p>
    </body>
</html>