<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect Button Example</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }
        button {
            padding: 12px 24px;
            font-size: 18px;
            background-color: #27d556ff;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
        }
        button:hover {
            background-color: #172d18ff;
        }
    </style>
</head>
<body>

    <p>Click the button to go to GeeksForGeeks</p>

    <!-- Redirect Button -->
    <button onclick="window.location.href='https://www.geeksforgeeks.org';">
        Go to GeeksForGeeks
    </button>

    <p>Founder of GeeksForGeeks is {{name}}</p>

</body>
</html>
