<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>This is home page</h1>
    </div>
    <div>
        <form action="{% url 'result' %}" method="get">
            {% csrf_token %}
            RI : <input type="text" name="RI" required><br><br>
            Na : <input type="text" name="Na" required><br><br>
            Mg : <input type="text" name="Mg" required><br><br>
            Al : <input type="text" name="Al" required><br><br>
            Si : <input type="text" name="Si" required><br><br>
            K : <input type="text" name="K" required><br><br>
            Ca : <input type="text" name="Ca" required><br><br>
            Ba : <input type="text" name="Ba" required><br><br>
            Fe : <input type="text" name="Fe" required><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>